<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>DETALLE DEL PRODUCTO</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="logo-nombre">                
                <img src="/img/logo.jpeg" alt="">
                <p>TODO A PEDAL</p> <input type="text" placeholder="">
                <i class="fas fa-search"></i>
            </div>

                <div class="contenedor-celular">
                        <div class="logo-texto-enlaces-celu">
                        <img src="/img/logo.jpeg" alt="">
                        <p>TODO A PEDAL</p> 
                            <ul>
                                <li><a href=""></a><i class="fas fa-shopping-cart"></i></li>
                                <li><div id="hamburguesa"><i class="fas fa-bars"></i></div></li>
                            </ul>
                        </div>
                    
                <div class="barra-lupa-celu">
                    <input type="text" placeholder="">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegador">
                <ul>
                    <li><a href="">EMPRESA</a></li>
                    <li><a href="/productDetail">PRODUCTOS</a></li>
                    <li><a href="">CONTACTOS</a></li>
                    <li><a href="">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                    <li><a href="">REGISTRARSE </a><i class="far fa-id-card"></i></li>
                    <li><a href="">INICIAR SESION</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-producto">
         <div class="contenedor-por-seccion">
            <div class="contenedor-producto">
                <img src="/img/niño4.jpg" alt="">
                <div class="nombre-precio-cod">
                    <h3>MTB r 26 niño</h3>
                    <H5>COD. ART. 0001</H5>
                    <h4>$ 50.000</h4>
                    <div class="cant-prod1">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                        <div class="boton-agregar-carrito1">
                            <button type="submit" >AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                </div>                
            </div>
                <div class="cantidad-boton">
                    <div class="cant-prod">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                    </div>
                    <div class="boton-agregar-carrito">
                        <button type="submit" >AGREGAR AL CARRITO</button>
                    </div>
                </div>
        </div>
            
        <h1>DESCRIPCIÓN</h1><br>
        <article>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
             Voluptatibus iure eaque odio omnis ex voluptates mollitia <br>
              aperiam obcaecati, alias laudantium placeat commodi, <br>
               amet sequi quam dolores tempora! Quidem, in delectus.</p> <br>
        </article>
    </main>
    <footer>
        <div class="contenedor-footer">
            <nav class="footer-nav">
                
                <ul>
                        <li><a href="">Empresa</a></li><br>
                        <li><a href="/productDetail">Productos</a></li><br>
                        <li><a href="">Contactos</a></li>
                        
                </ul>
            </nav>
            <div class="footer-pagos">
            <h2>MEDIOS DE PAGO</h2><br>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-diners-club"></i>
            <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-logo">
                <img src="/img/logo.jpeg" alt="">
                <p>Copyright Mila Marzi 2020 <br>
                Todos los derechos reservados. </p>
            </div>

        </div>
    </footer>
</body>
</html>