<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

<body class="main-carrito">
    <%- include('./partials/header') %>
    
    <main class="main-carrito">
        <form action="">
            <div class="contenedor-por-seccion-carrito">
            <div class="contenedor-carrito">
                <img src="/img/niño4.jpg" alt="">
                <div class="nombre-precio-cod-carrito">
                    <h3>MTB r 26 niño</h3>
                    <H5>COD. ART. 0001</H5>
                    <h4>$ 50.000</h4> 
                </div>
                    <div class="cant-carrito">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                     </div>
                        <div class="boton-agregar-carrito22">
                                                    
                                <label>Eliminar</label><button type="reset" >X</button>
                        </div>
                      
                        <h2>MEDIOS DE PAGOS</h2>
                        <div class="form-carrito">
                            <input type="text" name="cupon-descuento" placeholder="    CUPON DESCUENTO">
                        </div>
                        
                        <div class="carrito-envio">
                            <label>METODO DE ENVIO:</label>
                            <label><input type="radio" name="ENVIO" value="Sucursal">Retiro por Sucursal</label>
                            <label><input type="radio" name="ENVIO" value="Domicilio">Envio a Domicilio</label>
                        </div>
                        <br>
                        <label>SUBTOTAL</label><br> 
                        <div class="form-carrito">
                            
                            <label>PRECIO</label>
                            <input type="transaction-amount">
                        </div>
                        <div class="form-carrito">
                            <label>ENVIO</label>
                            <input type="transaction-amount">
                        </div>
                        <div class="form-carrito">
                            <label>CUPON</label>
                            <input type="transaction-amount">
                        </div>
                        <div class="form-carrito">
                            <label>TOTAL</label>
                            <input type="transaction-amount">
                        </div>                        
                    </div>
              
                        </form>

    </main>
    <%- include('./partials/footer') %>
</body>
</html>