<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
     <main class="main-producto">
         <div class="contenedor-por-seccion">
            <div class="contenedor-producto">
                <img src="/img/niño4.jpg" alt="">
                <div class="nombre-precio-cod">
                    <h3>MTB r 26 niño</h3>
                    <H5>COD. ART. 0001</H5>
                    <h4>$ 50.000</h4>
                    <div class="cant-prod1">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                        <div class="boton-agregar-carrito1">
                            <button type="submit" >AGREGAR AL CARRITO</button>
                        </div>
                    </div>

                </div>                
            </div>
                <div class="cantidad-boton">
                    <div class="cant-prod">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                    </div>
                    <div class="boton-agregar-carrito">
                        <button type="submit" >AGREGAR AL CARRITO</button>
                    </div>
                </div>
        </div>
            
        <h1>DESCRIPCIÓN</h1><br>
        <article>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
             Voluptatibus iure eaque odio omnis ex voluptates mollitia <br>
              aperiam obcaecati, alias laudantium placeat commodi, <br>
               amet sequi quam dolores tempora! Quidem, in delectus.</p> <br>
        </article>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>