<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>CARRITO DE COMPRAS</title>
</head>
<body class="main-carrito">
    <header>
        <div class="contenedor-header">
            <div class="logo-nombre">                
                <img src="/img/logo.jpeg" alt="">
                <p>TODO A PEDAL</p> <input type="text" placeholder="">
                <i class="fas fa-search"></i>
            </div>

                <div class="contenedor-celular">
                        <div class="logo-texto-enlaces-celu">
                        <img src="/img/logo.jpeg" alt="">
                        <p>TODO A PEDAL</p> 
                            <ul>
                                <li><a href=""></a><i class="fas fa-shopping-cart"></i></li>
                                <li><div id="hamburguesa"><i class="fas fa-bars"></i></div></li>
                            </ul>
                        </div>
                    
                <div class="barra-lupa-celu">
                    <input type="text" placeholder="">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegador">
                <ul>
                    <li><a href="">EMPRESA</a></li>
                    <li><a href="/productDetail">PRODUCTOS</a></li>
                    <li><a href="">CONTACTOS</a></li>
                    <li><a href="">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                    <li><a href="">REGISTRARSE </a><i class="far fa-id-card"></i></li>
                    <li><a href="">INICIAR SESION</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
            </nav>
        </div>
    </header>    
    <main class="main-carrito">
        <form action="">
            <div class="contenedor-por-seccion-carrito">
            <div class="contenedor-carrito">
                <img src="/img/niño4.jpg" alt="">
                <div class="nombre-precio-cod-carrito">
                    <h3>MTB r 26 niño</h3>
                    <H5>COD. ART. 0001</H5>
                    <h4>$ 50.000</h4> 
                </div>
                    <div class="cant-carrito">
                        <label>Cantidad</label>
                        <input type="number" name="cantidad-producto" value="1" min="1" max="100" >
                     </div>
                        <div class="boton-agregar-carrito22">
                                                    
                                <label>Eliminar</label><button type="reset" >X</button>
                        </div>
                      
                        <h2>MEDIOS DE PAGOS</h2>
                        <div class="form-carrito">
                            <input type="text" name="cupon-descuento" placeholder="CUPON DESCUENTO">
                        </div>
                        
                        <div class="carrito-envio">
                            <label>METODO DE ENVIO:</label>
                            <label><input type="radio" name="ENVIO" value="Sucursal">Retiro por Sucursal</label>
                            <label><input type="radio" name="ENVIO" value="Domicilio">Envio a Domicilio</label>
                        </div>
                        <br>
                        <label>SUBTOTAL</label><br> 
                        <div class="form-carrito">
                            
                            <label>PRECIO</label>
                            <input type="text">
                        </div>
                        <div class="form-carrito">
                            <label>ENVIO</label>
                            <input type="text">
                        </div>
                        <div class="form-carrito">
                            <label>TOTAL</label>
                            <input type="text">
                        </div>                        
                    </div>
              
                        </form>

    </main>

    <footer>
        <div class="contenedor-footer">
            <nav class="footer-nav">
               
                <ul>
                        <li><a href="">Empresa</a></li><br>
                        <li><a href="/productDetail">Productos</a></li><br>
                        <li><a href="/register">Contactos</a></li>
                       
                </ul>
            </nav>
            <div class="footer-pagos">
            <h2>MEDIOS DE PAGO</h2><br>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-diners-club"></i>
            <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-logo">
                <img src="/img/logo.jpeg" alt="">
               <p>Copyright Mila Marzi 2020 <br>
                Todos los derechos reservados. </p>
            </div>

        </div>
    </footer>
</body>
</html>