<!DOCTYPE html>
<html >
    <%- include('./partials/head', {title: 'LOGIN PROVEEDOR'}) %>

<body class="body-login">
    
   <form action="/proveedor/create" id="form" method="POST">
       <div class="contenedor-login">
           <div class="form-login">
            <label for="email">INGRESE SU E-MAIL</label>
            <input type="email" name="email" id="email" placeholder="                       Correo Electronico" >
           </div>
           <div class="form-login">
            <label for="contraseña">CONTREASEÑA</label>
                <input type="password" id="contraseña" name="contraseña"  >
           </div>
           <div class="login-a">
            <input type="checkbox" name="recordame" value="Recordar">
            <label style="color: white;">Recordame</label>
            </div>
            <div class="boton-form-login">
               <button type="submit">INGRESAR</button>
            </div>
       </div>
   </form>
   <br>
   <br>
   <br>
   <% if (typeof errors != 'undefined') { %>
    <p style="color: black; font-family: 'Fjalla One', sans-serif; font-size: 1.5vw;">ERROR</p>
    <ul>
        <% for( let i = 0; i < errors.length; i++) { %>
        <li  style="color: red; font-family: 'Fjalla One', sans-serif; font-size: 1.2vw;">
            <%= errors[i].msg%>
        </li>
        <% } %>
    </ul>
<% } %>
<script src="../js/loginUsuario.js"></script>
</body>
</html>