<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'Inicio'}) %>
<body class="contacto">
    <%- include('./partials/header') %>   
    <main class="contacto">
        <h2>
            TODO A PEDAL - Poder en cada Penaleo -
        </h2>
        <div class="contacto_contenido">
            <div class="contacto_item">
                <i class="fas fa-map-marker"></i>
                <h3>Avenida Siempre Vivas 234 - Resistencia-Chaco -</h3>
            </div>
            <div class="contacto_item">
                <i class="fas fa-phone-alt"></i>
                <h3>Telefono 0371-433722</h3>
            </div>
            <div class="contacto_item">
                <i class="fab fa-whatsapp"></i>
                <h3>Whatsapp 3731433722</h3>
            </div>
            <div class="contacto_item">
                <i class="fas fa-envelope"></i>
                <a href="mailto:fernandoojeda7@gmail.com "><h3>fernandoojeda7@gmial.com</h3></a>
                <img src="../img/products/direccion.jpg" alt="">
            </div>
                        
        </div>
    </main>
</body>
</html>