<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="resultado">
    
        <h1 style="color: plum; font-family: 'Fjalla One', sans-serif; margin: 10px;">ACTUALIZASTE TU PERFIL CON EXITO, INICIA SESION NUEVAMENTE</h1> 
        <a style="background-color: black; color: white; padding: 5px;" href="/user/login"><button style="background-color: black; color: white; padding: 5px;" type="submit">INICIAR SESION</button></a>
 
</body>
</html>