<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>TODO A PEDAL</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="logo-nombre">                
                <img src="/img/logo.jpeg" alt="">
                <p>TODO A PEDAL</p> <input type="text" placeholder="">
                <i class="fas fa-search"></i>
            </div>

                <div class="contenedor-celular">
                        <div class="logo-texto-enlaces-celu">
                        <img src="/img/logo.jpeg" alt="">
                        <p>TODO A PEDAL</p> 
                            <ul>
                                <li><a href="">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                                <li><div id="hamburguesa"><i class="fas fa-bars"></i></div></li>
                            </ul>
                        </div>
                    
                <div class="barra-lupa-celu">
                    <input type="text" placeholder="">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegador">
                <ul>
                    <li><a href="">EMPRESA</a></li>
                    <li><a href="">PRODUCTOS</a></li>
                    <li><a href="">CONTACTOS</a></li>
                    <li><a href="">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                    <li><a href="">REGISTRARSE </a><i class="far fa-id-card"></i></li>
                    <li><a href="">INICIAR SESION</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="banner">
            <img src="/img/banner.png" alt="">
        </div>
        <h2>Ultimas Vistas</h2>
        <div class="contenedor-por-seccion">
            <div class="contenedor">
                <img src="/img/niño4.jpg" alt="">
                <h3>MTB r 26 niño</h3>
                <h4>$ 50.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/Bicicleta-Venzo-Primal-EX.jpg" alt="">
                <h3>Venzo Primal-EX r 27.5</h3>
                <h4>$ 70.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/Marco-veleta.jpg" alt="">
                <h3>Marco Veleta MTB r 27.5</h3>
                <h4>$ 40.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/camara.jpg" alt="">
                <h3>Camara Importada HUTCHINSON r 29</h3>
                <h4>$ 3.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
        </div>
        <h1>NOVEDADES</h1>
        <div class="contenedor-por-seccion">
            <div class="contenedor">
                <img src="/img/gafas.jpg" alt="">
                <h3>Gafa BORSALINO</h3>
                <h4>$ 10.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/niña1.jpg" alt="">
                <h3>Bike Intantil Lady Niña r 16</h3>
                <h4>$ 21.999</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/casco3.jpg" alt="">
                <h3>Casco MTB ambos</h3>
                <h4>$ 8.999</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/porta-celular.jpg" alt="">
                <h3>Porta Celular</h3>
                <h4>$ 2.000</h4>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
        </div>
        <h1>PROMOCIONES</h1>
        <div class="contenedor-por-seccion">
            <div class="contenedor">
                <img src="/img/asiento.jpg" alt="">
                <h3>Asiento MTB</h3>
                <div class="h4-h5">
                    <h4>$3.499</h4> 
                    <h5>40% off</h5>
                </div>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
            <div class="contenedor">
                <img src="/img/Vairo-Bikes-Mobile.jpg" alt=""><br>
                <h3>Vairo Bikes-Mobile r29</h3>
                <div class="h4-h5">
                    <h4>$7.499</h4> 
                    <h5>10% off</h5>
                </div>
                <i id="carrito" class="fas fa-dolly"></i>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor-footer">
            <nav class="footer-nav">
                <h2>NUESTRO SITIO</h2>
                <ul>
                        <li><a href="">Empresa</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Contactos</a></li>
                        <li><a href="">Carrito</a></i></li>
                        <li><a href="">Registrarse </a></i></li>
                        <li><a href="">Iniciar Sesion</a></i></li>
                </ul>
            </nav>
            <div class="footer-pagos">
            <h2>MEDIOS DE PAGO</h2><br>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-diners-club"></i>
            <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-logo">
                <img src="/img/logo.jpeg" alt="">
               <p>Copyright Mila Marzi 2020 <br>
                Todos los derechos reservados. </p>
            </div>

        </div>
    </footer>
</body>
</html>