<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://fonts.google.com/">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>REGISTRO DE USUARIO</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="logo-nombre">                
                <img src="/img/logo.jpeg" alt="">
                <p>TODO A PEDAL</p> <input type="text" placeholder="">
                <i class="fas fa-search"></i>
            </div>

                <div class="contenedor-celular">
                        <div class="logo-texto-enlaces-celu">
                        <img src="/img/logo.jpeg" alt="">
                        <p>TODO A PEDAL</p> 
                            <ul>
                                <li><a href="">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                                <li><div id="hamburguesa"><i class="fas fa-bars"></i></div></li>
                            </ul>
                        </div>
                    
                <div class="barra-lupa-celu">
                    <input type="text" placeholder="">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <nav class="navegador">
                <ul>
                    <li><a href="">EMPRESA</a></li>
                    <li><a href="/productDetail">PRODUCTOS</a></li>
                    <li><a href="">CONTACTOS</a></li>
                    <li><a href="">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                    <li><a href="">REGISTRARSE </a><i class="far fa-id-card"></i></li>
                    <li><a href="">INICIAR SESION</a><i class="fas fa-sign-in-alt"></i></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="fondo-main">
        <form action="http://localhost:3030/" method="post" class="formulario-registro">
            <div class="control-form">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" class="control-input" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{3,48}" title="Ingresa tu Nombre y Apellido completo" required/>
            </div>
            <div class="control-form">
                <label for="documento">Documento Nº</label>
                <input type="number" name="documento" class="control-input" pattern="[0-9]{8,}" title="Sin puntos ni comas" required/>
            </div>
            <div class="control-form">
                <label for="email">Correo Electronico</label>
                <input type="email" name="email" placeholder="correo electronico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" size="30" class="control-input" required>
            </div>
            <div class="control-form">
                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" name="fecha" class="control-input" required>
            </div>
           <div class="control-form">
                <label>Contraseña</label>
                <input type="password" name="contraseña" class="control-input" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>
            <div class="control-form">
                <label>Confirmar Contraseña</label>
                <input type="password" name="confirmar-contraseña" class="control-input" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"> 
            </div>
                <a href=""><button type="submit" class="boton-form" name="btnRegistro">REGISTRARSE</button></a>
                
            
        </form>
    </main>
    <footer>
        <div class="contenedor-footer">
            <nav class="footer-nav">
                <h2>NUESTRO SITIO</h2>
                <ul>
                        <li><a href="">Empresa</a></li>
                        <li><a href="/productDetail">Productos</a></li>
                        <li><a href="">Contactos</a></li>
                        <li><a href="">Carrito</a></i></li>
                        <li><a href="">Registrarse </a></i></li>
                        <li><a href="">Iniciar Sesion</a></i></li>
                </ul>
            </nav>
            <div class="footer-pagos">
            <h2>MEDIOS DE PAGO</h2><br>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-diners-club"></i>
            <i class="fab fa-cc-amex"></i>
            </div>
            <div class="footer-logo">
                <img src="/img/logo.jpeg" alt="">
                <p>Copyright Mila Marzi 2020 <br>
                Todos los derechos reservados. </p>
            </div>

        </div>
    </footer>
</body>
</html>