<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&display=swap" rel="stylesheet">
    <title>LOGIN TODO A PEDAL</title>
</head>
<body class="body-login">
   <form action="">
       <div class="contenedor-login">
           <div class="form-login">
            <label for="email">INGRESE SU E-MAIL</label>
            <input type="email" name="email" placeholder="                       Correo Electronico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
           </div>
           <div class="form-login">
            <label for="contraseña">CONTREASEÑA</label>
                <input type="password" name="contraseña" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
           </div>
           <div class="login-a">
           <a href="">Olvidaste la contraseña</a>
           <a href="">Quieres registrarte</a>
            </div>
            <div class="boton-form-login">
               <button type="submit">INGRESAR</button>
            </div>
       </div>
   </form>
</body>
</html>