<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'Empresa'}) %>

<body class="empresa">
    
        <h1>TODO A PEDAL</h1>
        
        <h2>
            NOSOTROS
        </h2>
        <div class="empresa_imagen">
            <img src="../img/products/trabajo.jpg" alt="">
            <img src="../img/products/trabajo1.jpg" alt="">
            <img src="../img/products/trabajo2.jpg" alt="">

        </div>
        <P id="parrafo">
            Somos una empresa que desde sus principios en 1992 decidió avanzar y enfrentar los desafíos como 
            oportunidades de crecimiento e innovación. Trabajamos diariamente orientando nuestros esfuerzos a 
            brindar la mejor propuesta de valor para nuestros clientes y para la sociedad; con la convicción de 
            crear un mundo más sustentable y amigable con el ambiente; manteniendo como valores 
            fundamentales la confianza, el compromiso, el profesionalismo y la adaptación al cambio. Nuestro 
            equipo de 140 colaboradores y nuestras reconocidas marcas: bicicletas TOPMEGA y FORTE Motopartes, 
            conforman nuestros mayores activos, que nos motivan y nos inspiran a evolucionar constantemente.
        </P>
        <div class="empresa-conteiner">
            <div class="empresa_objetivos">
                <i class="fas fa-compress-arrows-alt"></i>
                <h3>MISIÓN</h3>
                <p id="loguito">
                    Facilitar la movilidad de las 
                    personas fomentando la recreación, 
                    amistad y el deporte de manera 
                    sustentable.
                </p>
            </div>
            <div class="empresa_objetivos">
                <i class="fas fa-eye"></i>
                <h3>VISIÓN</h3>
                <p id="loguito">
                    Ser la empresa líder de nuestro 
                    mercado, ofreciendo una amplia 
                    variedad de productos y servicios 
                    alcance de nuestros clientes, 
                    integrando el uso de nuevas 
                    tecnologías e innovación.
                </p>
             </div>
             <div class="empresa_objetivos">
                <i class="fas fa-hand-holding-medical"></i>
                <H3>VALORES</H3>
                <p id="loguito">
                    Confianza, Compromiso, 
                    Profesionalismo, adaptación al 
                    cambio.
                </p>
            </div>
        </div>
    

</body>
</html>