<!DOCTYPE html>
<html>
    <%- include('./partials/head', {title: 'No se encontro'}) %>

<body class="noEncontre">
    <div class="encontro">
        <h1>Uppps!!!!! NO se encontro</h1>
    </div>
</body>
</html>