<!DOCTYPE html>
<html >
    <%- include('./partials/head', {title: 'LOGIN TODO A PEDAL'}) %>

<body class="body-login">
    
   <form action="/user/login" method="POST">
       <div class="contenedor-login">
           <div class="form-login">
            <label for="email">INGRESE SU E-MAIL</label>
            <input type="email" name="email" placeholder="                       Correo Electronico" >
           </div>
           <div class="form-login">
            <label for="contraseña">CONTREASEÑA</label>
                <input type="password" name="contraseña"  >
           </div>
           <div class="login-a">
            <input type="checkbox" name="recordame" value="Recordar">
            <label style="color: white;">Recordame</label>
            <a href="/user/register">Quieres registrarte</a>
            </div>
            <div class="boton-form-login">
               <button type="submit">INGRESAR</button>
            </div>
       </div>
   </form>
   <br>
   <br>
   <br>
   <br>
   <% if (typeof errors != 'undefined') { %>
    <p style="color: rgb(0, 195, 255); font-family: 'Fjalla One', sans-serif; font-size: 1.5vw;">ERROR</p>
    <ul>
        <% for( let i = 0; i < errors.length; i++) { %>
        <li>
            <%= errors[i].msg%>
        </li>
        <% } %>
    </ul>
<% } %>
</body>
</html>