<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="fondo-main">
    <%- include('./partials/header', {title: 'Registro de Usuarios'}) %>
    <main class="fondo-main">
        <form action="/user/register" method="POST"  class="style-form" enctype="multipart/form-data">
            <div class="control-form">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" class="control-input" pattern="{8, }" required/>
            </div>
            <div class="control-form">
                <label for="documento">Documento Nº</label>
                <input type="number" name="documento" class="control-input" pattern="[0-9]{8,}" title="Sin puntos ni comas" required/>
            </div>
            <div class="control-form">
                <label for="email">Correo Electronico</label>
                <input type="email" name="email" placeholder="correo electronico"   class="control-input" required>
            </div>
            <div class="control-form">
                <label for="fecha">Fecha de Nacimiento</label>
                <input type="date" name="fecha" class="control-input" required>
            </div>
            <div class="control-form">
                <label>Imagen de Perfil</label>
                <input type="file" name="image" accept=".jpg, .png" class="control-input"> 
            </div> 
            <div class="control-form">
                <label>Contraseña</label>
                <input type="password" name="contraseña" class="control-input" required >
            </div>
           
                <a href=""><button type="submit" class="boton-form">REGISTRARSE</button></a>
        </form>
    </main>
   
</body>
</html>