<footer>
    <div class="contenedor-footer">
        <nav class="footer-nav">
           
            <ul>
                    <li><a href="">Empresa</a></li><br>
                    <li><a href="/productDetail">Productos</a></li><br>
                    <li><a href="/register">Contactos</a></li>
                   
            </ul>
        </nav>
        <div class="footer-pagos">
        <h2>MEDIOS DE PAGO</h2><br>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-diners-club"></i>
        <i class="fab fa-cc-amex"></i>
        </div>
        <div class="footer-logo">
            <img src="/img/products/logo.jpeg" alt="">
           <p>Copyright Mila Marzi 2020 <br>
            Todos los derechos reservados. </p>
        </div>

    </div>
</footer>
</body>
</html>