<header>
    <div class="contenedor-header">
        <div class="logo-nombre">                
            <img src="/img/products/logo.jpeg" alt="">
            <p>TODO A PEDAL</p> 
            <form action="/products/search" method="GET">
                <input type="text" placeholder="¿ Qué estas buscando ?" name="search">
                <button type="submit" style="background-color: black;"><i class="fas fa-search" style="color: blanchedalmond;"></i></button>
            </form> 
        </div>

            <div class="contenedor-celular">
                    <div class="logo-texto-enlaces-celu">
                    <img src="/img/products/logo.jpeg" alt="">
                    <p>TODO A PEDAL</p> 
                        <ul>
                            <li><a href=""></a><i class="fas fa-shopping-cart"></i></li>
                            <li><div id="hamburguesa"><i class="fas fa-bars"></i></div></li>
                        </ul>
                    </div>
                
            <div class="barra-lupa-celu">
                <form action="/products/search" method="GET">                
                <input type="text" placeholder=""name="search" >
                <button type="submit" style="background-color: black;"><i class="fas fa-search" style="color: blanchedalmond;"></i></button>
            </form>
            </div>
        </div>
        <nav class="navegador">
            <ul>
                <li><a href="">EMPRESA</a></li>
                <li><a href="/products">PRODUCTOS</a></li>
                <li><a href="">CONTACTOS</a></li>
                <li><a href="/products/producCart">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                <li><a href="/user/register">REGISTRARSE </a><i class="far fa-id-card"></i></li>
                <li><a href="/user/login">INICIAR SESION</a><i class="fas fa-sign-in-alt"></i></li>
            </ul>
        </nav>
    </div>
</header>