<header>
    <div class="contenedor-header">
        <div class="logo-nombre">                
            <img src="/img/products/logo.jpeg" alt="">
            <p>TODO A PEDAL</p> <input type="text" placeholder="">
            <i class="fas fa-search"></i>
        </div>

            <div class="contenedor-celular">
                    <div class="logo-texto-enlaces-celu">
                    <img src="/img/products/logo.jpeg" alt="">
                    <p>TODO A PEDAL</p> 
                        <ul>
                            <li><a href=""></a><i class="fas fa-shopping-cart"></i></li>
                            <li><div id="hamburguesa"><i class="fas fa-bars"></i></div></li>
                        </ul>
                    </div>
                
            <div class="barra-lupa-celu">
                <input type="text" placeholder="">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <nav class="navegador">
            <ul>
                <li><a href="">EMPRESA</a></li>
                <li><a href="/products">PRODUCTOS</a></li>
                <li><a href="">CONTACTOS</a></li>
                <li><a href="/products/producCart">CARRITO</a><i class="fas fa-shopping-cart"></i></li>
                <li><a href="/user/register">REGISTRARSE </a><i class="far fa-id-card"></i></li>
                <li><a href="/user/login">INICIAR SESION</a><i class="fas fa-sign-in-alt"></i></li>
            </ul>
        </nav>
    </div>
</header>